@model IEnumerable<FakeApi.Domain.Dtos.RestMockGridDto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h2 class="page-header">Meus Mock REST</h2>

<p>
    <a href="@Url.Action("Create", "Dashboard")" class="btn btn-primary">Criar Novo</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResponseStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Path)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Verb)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponseStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Path)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Verb)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdRestMock }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.IdRestMock })
            </td>
        </tr>
    }

</table>
